BOT_TOKEN=8740033520:AAEQCe63i-rk-VHYBvWmiytHS4SMkZUXC1w
BOT_USERNAME=FarmEasyStars_bot
ADMIN_IDS=5437954093,7093923562,5828259089
DATABASE_URL=easystars.db
REFERRAL_BONUS=2
MIN_WITHDRAW=15
MAX_WITHDRAW=100
PENALTY_PERCENT=100
REPAY_PERCENT=50